@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right, #DBB89E, #b39a88);

}

main {
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px #584d45;
    min-width:fit-content;
    max-width: fit-content;
    border-left-width: 40px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7764DB;
    text-align: center;
    text-shadow: 1px 1px 2px #403574;

}

h2 {
    color: #688F67
}

p {
    text-align: justify;
}